body {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #ff8e2c, #2c4cff);
    background-repeat:no-repeat;
    background-attachment: fixed;
    color: white;   
}

.color-overlay {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #00064B;
    opacity: 0.2;
    position: fixed;
}

#content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
}

header {
    display: flex;
    flex-grow: 1;
    z-index: 1;
    align-items: center;
}

#title {
    font-size: 3em;
    font-weight: bold;
}

.job {
    font-size: 1.5em;
    border-image-slice: 1;
    flex-grow: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 1;
}

.job-content {
    opacity: 1;
    color: white;
    z-index: 1;
    background-color: rgba(86, 230, 223, 0.25);
    border: 10px solid rgba(91, 230, 255, 0.1);
}

ul {
    padding: 0px;
    margin: 0;
    margin-left: 25px;
    list-style-type: square;
}

.company {
    margin: 0;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
}

.job-position {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-family: sans-serif;
    border: solid rgba(255, 255, 255);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.job-description {
    margin: 15px;
    margin-left: 10px;
    margin-right: 10px;
    /** border: 1px solid rgba(255, 255, 255);
    border-top: 0px;
    border-left: 0;
    border-right: 0; */
}

.job-description.last {
    margin-bottom: 0;
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #a7a7a7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  rgb(0, 125, 197);
}

@media only screen and (max-width: 1200px) {
    body {
    }

    #content {
        margin-left: 25px;
    }
}