body {
    background-image: linear-gradient(to top right, #ff8e2c, #2c4cff);
}

#stock-interest > .interest {
    width: 100%;
}

.vacations {
    display: flex;
    justify-content: center;
}

.vacations > .job-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    height: 200px;
    width: 425px;
    box-sizing: border-box;
}

figure {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    width: 80%;
    margin: 0;
}

.image, .high-school-image {
    display: none;
}

.current-image, .current-high-school-image {
    display: inline-block;
}

.current-image > img, .current-high-school-image > img {
    height: 85%;
    width: 100%;
}

.videogame-image > .job-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}

@media only screen and (max-width: 1200px) {

    #content {
        margin-left: 25px;
    }
}