body {
    background-image: linear-gradient(to top right, #ff8e2c, #2c4cff);
}

.interest.videogame-image {
    justify-content: center;
}


.football-image {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 50%;
}

.football-image > .job-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    height: 355px;
    width: 40%;
    box-sizing: border-box;
}

.football-pic {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 100%;
}

.football-pic > img {
    height: 100%;
    width: 100%;
}

.videogame-image > .job-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    height: 250px;
    width: 40%;
    box-sizing: border-box;
}

.current-image > img, .current-high-school-image > img {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    .videogame-image > .job-content {
        width: 60%;
    }

    .football-image > .job-content {
        width: 60%;
    }

    .videogame-description > .job-content {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    #stock-interest, #football-interest, #videogame-interest {
        flex-direction: column;
    }

    .interest {
        width: 100%;
    }

    .videogame-image > .job-content {
        width: 40%;
    }

    .football-image > .job-content {
        width: 40%;
    }

}

@media only screen and (max-width: 650px) {
    .videogame-image > .job-content {
        width: 60%;
    }

    .football-image > .job-content {
        width: 60%;
    }

}

@media only screen and (max-width: 420px) {
    .videogame-image > .job-content {
        width: 75%;
    }

    .football-image > .job-content {
        width: 75%;
    }

}