body {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to top right, #ff8e2c, #2c4cff);
    background: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    color: white;
}

.color-overlay {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #00064B;
    opacity: 0.2;
    position: fixed;
}

#content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
}

#title {
    display: flex;
    font-size: 3em;
    font-weight: bold;
    flex-grow: 1;
    z-index: 1;
    align-items: center;
}

#stock-interest {
    margin: 0;
    flex-grow: 1;
    z-index: 1;
}

#football-interest {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    z-index: 1;
}

.football-image {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    width: 50%;
}

#videogame-interest {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    z-index: 1;
}

.interest {
    display: flex;
    width: 50%;
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    z-index: 1;
}

#stock-interest > .interest {
    width: 100%;
}

.company {
    margin: 0;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
}

.job-position {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-family: sans-serif;
    border: solid rgba(255, 255, 255);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.interest-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    color: white;
    z-index: 1;
    background-color: rgba(86, 230, 223, 0.25);
    border: 10px solid rgba(91, 230, 255, 0.1);
}

.videogame-image > .interest-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgba(91, 230, 255, 0.15);
    border: 10px solid rgba(91, 230, 255, 0.1);
}

.interest-description {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    /** border: solid rgba(255, 255, 255);
    border-top: 0;
    border-left: 0;
    border-right: 0; */
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #a7a7a7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  rgb(0, 125, 197);
}