body {
    margin: 0;
    height: 100vh;
    background-image: linear-gradient(to top right, #ff8e2c, #2c4cff);
    background: cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    color: white;
}

.color-overlay {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: #00064B;
    opacity: 0.2;
    position: fixed;
}

#content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90%;
}

#title {
    display: flex;
    font-size: 3em;
    font-weight: bold;
    flex-grow: 1;
    z-index: 1;
    align-items: center;
}

#stock-interest {
    margin: 0;
    flex-grow: 0.5;
    z-index: 1;
}

#football-interest {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 0.5;
    justify-content: space-between;
    z-index: 1;
}

#videogame-interest {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-grow: 0.5;
    justify-content: space-between;
    z-index: 1;
}

.interest {
    display: flex;
    width: 45%;
    font-size: 1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
    z-index: 1;
}

#stock-interest > .interest {
    width: 100%;
}

.vacations {
    display: flex;
    justify-content: center;
}

.company {
    margin: 0;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    font-family: sans-serif;
}

.job-position {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;
    font-family: sans-serif;
    border: solid rgba(255, 255, 255);
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.interest-content {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    color: white;
    z-index: 1;
    background-color: rgba(86, 230, 223, 0.25);
    border: 10px solid rgba(91, 230, 255, 0.1);
}

.vacations > .interest-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    height: 200px;
    width: 400px;
    box-sizing: border-box;
}

figure {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    width: 85%;
    margin: 0;
}

.image {
    display: none;
}

.current-image {
    display: inline-block;
}

.current-image > img {
    height: 85%;
    width: 100%;
}

figcaption {
    display: flex;
    justify-content: center;
    font-size: 0.8em;
    flex-grow: 0;
}

.high-school-image {
    display: flex;
    flex-grow: 1;
    max-width: 190px; 
    max-height: 160px;
}

.videogame-image > .interest-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.interest-description {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    /** border: solid rgba(255, 255, 255);
    border-top: 0;
    border-left: 0;
    border-right: 0; */
}

.arrow-l, .arrow-r {
    display: flex;
    flex-grow: 1;
    height: 85%;
    justify-content: center;

}

#arrow-right, #arrow-left {
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 3.5em;
    color: rgba(255, 255, 255, 0.5);
    user-select: none;
    position: absolute;
    flex-grow: 1;
    height: 85%;
    bottom: 25%;
    top: 1%;
    
    z-index: 1;
}

.arrow-l:hover, .arrow-r:hover {
    background-color: rgba(58, 58, 58, 0.5);
    cursor: pointer;
}

#arrow-left:hover, #arrow-right:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
}

.arrow-l:active, .arrow-r:active {
    background-color: rgba(37, 37, 37, 0.753);
}

#arrow-right:hover {
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: 0.4} 
    to {opacity: 1}
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #a7a7a7;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:  rgb(0, 125, 197);
}